<div class="container mail-response">
  <h1>Hubo un error inesperado, disculpe las molestias</h1>
  <h2>Intente nuevamente en unos minutos!</h2>
  <a href="/" class="btn btn-primary back-btn">Volver a la Pagina Incial</a>
</div>
