<!DOCTYPE html>
<!DOCTYPE html>
<!--[if lt IE 7]>    <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
  <!-- meta charec set -->
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- Page Title -->
  <title>Uruguay Security</title>
  <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
  <!-- Meta Description -->
  <meta name="description" content="Uruguay Security">
  <meta name="keywords" content="seguridad, uruguay, camaras, control">
  <meta name="author" content="Uruguay Security">
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Google Font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <!-- CSS
  ================================================== -->
  <!-- Fontawesome Icon font -->
  <script src="https://use.fontawesome.com/999bcbcef8.js"></script>
  <!-- Twitter Bootstrap css -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- jquery.fancybox  -->
  <link rel="stylesheet" href="css/jquery.fancybox.css">
  <!-- animate -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/main.css">
  <!-- media-queries -->
  <link rel="stylesheet" href="css/media-queries.css">
  <!-- Modernizer Script for old Browsers -->
  <script src="js/modernizr-2.6.2.min.js"></script>
</head>

<body id="body">
  <!-- preloader -->
  <div id="preloader">
    <img src="img/preloader.gif" alt="Preloader">
  </div>
  <!-- end preloader -->
  <!--
  Fixed Navigation
  ==================================== -->
  <header id="navigation" class="navbar-fixed-top navbar">
    <div class="container">
      <div class="navbar-header">
        <!-- responsive nav button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars fa-2x"></i>
        </button>
        <!-- /responsive nav button -->
        <!-- logo -->
        <a class="navbar-brand" href="#body">
          <h1 id="logo">
            <img src="img/logo.png" alt="Uruguay Security">
          </h1>
        </a>
        <!-- /logo -->
      </div>
      <!-- main nav -->
      <nav class="collapse navbar-collapse navbar-right" role="navigation">
        <ul id="nav" class="nav navbar-nav">
          <li class="current"><a href="#body">Inicio</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#features">Servicios</a></li>
          <li><a href="#footer">Contacto</a></li>
        </ul>
      </nav>
      <!-- /main nav -->
    </div>
  </header>
  <!--
  End Fixed Navigation
  ==================================== -->

  <%= yield %>

  <!-- Essential jQuery Plugins
  ================================================== -->
  <!-- Main jQuery -->
  <script src="js/jquery-1.11.1.min.js"></script>
  <!-- Single Page Nav -->
  <script src="js/jquery.singlePageNav.min.js"></script>
  <!-- Twitter Bootstrap -->
  <script src="js/bootstrap.min.js"></script>
  <!-- jquery.fancybox.pack -->
  <script src="js/jquery.fancybox.pack.js"></script>
  <!-- jquery.mixitup.min -->
  <script src="js/jquery.mixitup.min.js"></script>
  <!-- jquery.parallax -->
  <script src="js/jquery.parallax-1.1.3.js"></script>
  <!-- jquery.countTo -->
  <script src="js/jquery-countTo.js"></script>
  <!-- jquery.appear -->
  <script src="js/jquery.appear.js"></script>
  <!-- Contact form validation -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
  <!-- Google Map -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBYZIcHvbdMmXUlqpOnq9qV_lpXQZajDWM"></script>
  <!-- jquery easing -->
  <script src="js/jquery.easing.min.js"></script>
  <!-- jquery easing -->
  <script src="js/wow.min.js"></script>
  <script>
    var wow = new WOW({
      boxClass: 'wow', // animated element css class (default is wow)
      animateClass: 'animated', // animation css class (default is animated)
      offset: 120, // distance to the element when triggering the animation (default is 0)
      mobile: false, // trigger animations on mobile devices (default is true)
      live: true // act on asynchronously loaded content (default is true)
    });
    wow.init();
  </script>
  <!-- Custom Functions -->
  <script src="js/custom.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
    Date();a=s.createElement(o),

    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84023253-4', 'auto');
    ga('send', 'pageview');
  </script>

  <script type="text/javascript">
    $(function() {
      $('#contact-form').validate({
        rules: {
          name: {
            required: true,
            minlength: 2
          },
          email: {
            required: true,
            email: true
          },
          number: {
            required: true
          },
          message: {
            required: true
          }
        },
        messages: {
          name: {
            required: "Ingrese su Nombre!",
            minlength: "Su nombre debe tener al menos 2 caracteres"
          },
          email: {
            required: "Ingrese su Email"
          },
          message: {
            required: "Debe Ingresar un mensaje."
          }
        }
      });
    });
  </script>
</body>

</html>
