<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1 style="text-align: center; color: #2f4f88; text-transform: uppercase;">
    Has recibido una presupuestacion desde la web
  </h1>

  <h2>Datos de la persona:</h2>
  <p><b>Nombre:</b> <%= name %></p>
  <p><b>Email:</b> <%= email %></p>
  <p><b>Telefono:</b> <%= phone %></p>
  <p><b>Consulta:</b> <%= comment %></p>

</body>
</html>
